$inline-block : inline-block;
/* HEADER */
header{
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.cont__options{
    display: $inline-block;
    padding: 6px;
    & img{
        margin-right: 8px;
    }
    & span{
        margin-right: 14px;
    }
}
.cont__social{
    display: $inline-block;
    padding: 6px;
    & img{
        padding-right: 10px;
    }
}
/* PORTADA */
.portada{
    text-align: center;
    padding: 24px;
    & img:first-child{
        width: 50%;
    }
    & .portada__info{
        padding: 15px;
        & p{
            display: $inline-block;
            margin-right: 20px;
        }
        & img{
            margin-left: 20px;
            margin-right: 2px;
        }
    }
}
/* UTILITIES */
.fl-right{
    float: right;
}