@import "font";
@import "colors";

*{
    font-family: $font-body;
}
$inline-block : inline-block;
/* HEADER */
header{
    padding-bottom: 5px;
    border-bottom: 2px solid $black;
}
.cont__options{
    display: $inline-block;
    padding: 6px;
    & img{
        margin-right: 8px;
    }
    & span{
        margin-right: 14px;
    }
}
.cont__social{
    display: $inline-block;
    padding: 6px;
    & img{
        padding-right: 10px;
    }
}
/* PORTADA */
.portada{
    text-align: center;
    padding: 20px;
    & img:first-child{
        width: 30%;
    }
    & .portada__info{
        padding: 15px;
        & p{
            display: $inline-block;
            margin-right: 20px;
        }
        & img{
            margin-left: 20px;
            margin-right: 2px;
        }
    }
}
/* NAVBAR */
.cont-nav{
    max-width: 843px;
    & nav{
        background-color: $yellow;
        & .navbar-nav li > a{
            color: $white;
        }
    }
}
@media (max-width: 768px){
    .cont-nav nav{
        background-color: $white;
        & .navbar-nav li > a{
            color: $black;
        }
    }
}
/* UTILITIES */
.fl-right{
    float: right;
}
.pd-top-20{
    padding-top: 20px;
}
.pd-bt-12{
    padding-bottom: 12px;
}
/*NEW PORTADA */
.newportada{
    & img{
        width: 100%;
    }
    & h3{
        position: absolute;
        bottom: 100px;
        padding: 20px;
        max-width: 700px;
        color: $white;
    }
    & p{
        position: absolute;
        bottom: 54px;
        padding: 20px;
        max-width: 500px;
        color: $white;
    }
}
.newsfav__info{
    background-color: $black;
    padding: 9px;
    color: $white;
}
.newsfav{
    padding-top: 20px;
    padding-bottom: 20px;
    & .newsfav__info1{
        background-color: $black;
        padding: 17px;
        color: $white;
    }
}
hr{
    width: 100px;
    float: left;
    border-top: 2px solid $yellow;
    margin: 0;
}
footer{
    margin-top: 20px;
    background-color: $yellow;
    padding: 20px;
    & .footer__left{
        padding: 28px;
        & p{
            color: $white;
        }
        img{
            padding-bottom: 20px;
        }
    }
    & .footer__center ul li{
        color: $white;
        list-style: none;
        line-height: 18px;
    }
    & .footer__right ul li{
        color: $white;
        list-style: none;
        line-height: 20px;
    }
}